
.registration-container {
    background-color: rgba(255, 255, 255, 0.5); /* Branco com transparência */
    border-radius: 15px; /* Bordas arredondadas */
    padding: 20px; /* Espaçamento interno */
    margin-top: 20px; /* Espaço acima do contêiner */
}


.form-control {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.form-control:focus {
    border-color: #3060f0;
    box-shadow: 0 0 8px 0 rgba(48, 96, 240, 0.2);
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #000000;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #333333;
}

.btn-secondary {
    background-color: #ffffff;
    color: #000000;
}

.btn-secondary:hover {
    background-color: #e6e6e6;
}

.font-cadastro {
    color: #ffffff; /* Adapte esta cor conforme a cor do seu texto */
}
