body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/static/background.jpg'); 
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    max-width: 80%;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    padding: 8px 10px; 
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2980b9; 
    color: #ffffff; 
}

tr:nth-child(even) {
    background-color: #aed6f1; 
}

tr:nth-child(odd) {
    background-color: #85c1e9;
}

tr:hover {
    background-color: #5dade2; 
}

h1 {
    text-align: center;
    color: #333;
}


.btn-custom:hover, .btn-custom:focus {
    background-color: #0056b3; 
    border-color: #0056b3;
    color: white; 
    text-decoration: none; 
}

.btn-custom {
    background-color: #007bff !important;
    color: white !important;
    border: 1px solid #007bff !important;
}