{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, iniuser_imgl-scale=1.0">
    <link href="{% static 'users.css' %}" rel="stylesheet">
    <title>Detalhes do Usuário</title>
</head>
<body>
    <div class="container">
        <h1>Detalhes do Usuário</h1>
        <!-- Exibe informações do usuário aqui -->
        <div>
            <p>Nome: {{ usuario.nome }}</p>
            <p>Idade: {{ usuario.idade }}</p>
            <p>Renda Mensal: {{ usuario.renda_mensal }}</p>
        </div>
        <div class="actions">
            <button class="btn btn-success" onclick="location.href='/editar/{{ usuario.id }}'">Editar</button>
            <button class="btn btn-secondary" onclick="location.href='/'">Cancelar</button>
            <button class="btn btn-danger" onclick="location.href='/deletar/{{ usuario.id }}'">Deletar</button>
        </div>
    </div>
</body>
</html>
